body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
h1{
    inline-size: 800px;
    text-align: center;
}
#SeeMore-button{
    font-size: 20px;
    width: 200px;
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(62, 92, 198);
    transition-duration: 0.4s;
    margin: 0 auto;
    margin-top: 40px;
} 
#SeeMore-button:hover{
    background-color: rgb(129, 153, 241);
    color: whitesmoke;
}

#splash-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/0.png');
    background-size: cover;
    color: white;
}
#sketch-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-dropdown{
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px;
}
